/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*common*/

html {
    font-size: 62.5%;
    font-family: "Montserrat", sans-serif;  
} 

ul {
    list-style: none;
}

img {
    width: 100%;
}
/*header*/

.container {
    width: 70%;
    margin: 0 auto;
    
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.logo {
    width: auto;
    height: 60px;
    padding-right: 1em;
    margin-bottom: 4em;
    border-right: 1px solid lightgray;
}

.header-nav li{
    padding-right: .5em;
    display: inline-block;
}

.header-nav a {
    font-size: 1.2em;
    text-decoration: none;
    text-transform: uppercase;
    color: inherit;
}

.color{
    color: lightgray;
}

.with-layover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
}

.banner{
    width: 100%;
    height: 400px;
    position: relative;
    border-radius: 2em;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    margin-top: 15px;
}


.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner-text {
    position: absolute;
    bottom: 8em;
    left: 4em;
    width: 60%;
    color: white;
}

/*main*/

.content-top{
    height: 40px;
    width: 100%;
    margin-top: 3em;
    margin-bottom: 1.5em;
}

.content-top h1{
    font-size: 2.5em;
    font-weight: bolder;
}

.content{
    width: 100%;
    margin-top: 15px;
}

.content-side{
    position: relative;
    width: 20%;
    height: 280px;
    margin: 15px 0;
    background-color: #abcfe7;
    float: left;
    
}

.content-side img {
    width: 100%;
    height: 150px;
    object-fit:initial;
}

.content-center{
    width: calc(60% - 30px);
    position: relative;
    height: 280px;
    margin: 15px;
    background-color: #abcfe7;
    float: left;
}

.content-center img{
    width: 100%;
    height: 150px;
    object-fit: cover;
}

/*footer*/

.footer{
    width: 100%;
    height: 30px;
    text-align: center;
    margin-top: 7px;
    margin-bottom: 15px;
}


.heart{
    color: red;
}
